<h3 class="text-center m-3">Hello Admin, </h3>
<nav class="flex" style="display: flex;justify-content: center;">
    <a class="nav-link" href="/admin/dashboard">Dashboard</a>
    <a class="nav-link" href="/admin/books">Edit Books</a>
    <a class="nav-link" href="/admin/users">All Users</a>
    <a class="nav-link" href="/admin/add-book">Add New Book</a>
    <a class="nav-link" href="/admin/take-book">Take Book</a>
    <a class="nav-link" href="/admin/borrowed-books">Borrowers List</a>
</nav>