<nav class="flex" style="display: flex;justify-content: center;">
    <a class="nav-link" href="/books">All Books</a>
    <a class="nav-link" href="/admin/users">All Users</a>
    <a class="nav-link" href="/admin/add-book">Add New Book</a>
    <a class="nav-link" href="/admin/borrowed-books">Borrowers List</a>
</nav>