<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book Heaven | Homepage</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/registration.css">

</head>

<body>
  <nav class="navBar">
    <div class="logo">
      <a href="/">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWVtzJPYWqk2HU92x6ZZJVBK-58OyQAHiQqw&usqp=CAU"
          alt="book">
      </a>

    </div>
    <ul class="nav justify-content-end">
      <li class="nav-item header-nav-item">
        <a class=" class-home nav-link active" href="/">HOME</a>
      </li>

      <li class="nav-item header-nav-item">
        <a class="  class-fac nav-link" href="about">ABOUT</a>
      </li>
      <li class="nav-item header-nav-item">
        <a class="  class-fac nav-link" href="/signup">SIGN UP</a>
      </li>
      <li class="nav-item header-nav-item">
        <a class="  class-fac nav-link" href="/contact">CONTACT US</a>
      </li>

      <div id="auth-butns" style="display: none;">

        <a href="/login">
          <button type="button" class="btn btn-warning me-2">Login</button>
        </a>
        <a href="/signup">
          <button type="button" class="btn btn-primary me-2">Sign Up</button>
        </a>

      </div>
      <div id="auth-icon" style="display: none;">
        <p id="auth-icon-text"></p>
        <a href="/logout">
          <button type="button" class="btn btn-primary me-2">Logout</button>
        </a>

      </div>


    </ul>
  </nav>
  <main>