<h3 class="text-center m-2">
    <p id="auth-icon-text"></p>
</h3>
<nav class="flex" style="display: flex;justify-content: center;">
    <a class="nav-link" href="/user/books">All Books</a>
    <a class="nav-link" href="/user/dashboard">Taken Books</a>
    <a class="nav-link" href="/user/checkout-books">See Cart</a>
    <a class="nav-link" href="/user/profile">Profile</a>
</nav>