<%- include('partials/header') %>

    <!-- <img class="backgroundImg" src="https://i.stack.imgur.com/gqKFh.png" alt="img"> -->
    <div class="adminDash">
        <%- include('partials/adminNav') %>


            <div class="adminDash_right">
                <!-- <div class="adminTable">
                <h3>Add New Author</h3>
                <div class="adminAddSpace"></div>
                <form>

                    <div class="form-group row">
                        <label for="Author" class="col-sm-2 col-form-label">Author Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="addBookAuthor" placeholder="Author...">
                        </div>
                    </div>

                </form>
            </div> -->

                <!-- <div class="submit_bttns">
                    <a href="./adminBooks.html">
                        <button class="cancel">Cancel</button>
                    </a>
                    <button type="submit" class="update" onclick="addBookHandler()">Add Author</button>
                </div> -->
            </div>
    </div>
    </div>

    <%- include('partials/footer') %>