<%- include('partials/header') %>

    <img class="backgroundImg" src="https://i.stack.imgur.com/gqKFh.png" alt="img">
    <div class="borrowerOptions">
        <div class="borrowerCheckout">
            <a href="./selectBranch.html">
                <button>Checkout a Book</button>
            </a>
        </div>
        <div class="borrowerReturn">
            <a href="./returnBook.html">
                <button>Return a Book</button>
            </a>
        </div>
    </div>

    <%- include('partials/footer') %>