<%- include('partials/header') %>

    <div class="backgroundImg"> </div>
    <div class="innerMain">
        <div class="welcomeDiv">
            <div class="welcomeMsg">
                Welcome to the Book Heaven
            </div>

            <h3 class="text-center" id="auth-icon-text"></h3>

            <div class="selection">
                <a href="/books" id="home-book-link">
                    <button class="btn btn-secondry btn-big">See Available Books</button>
                </a>

                <a href="/login" id="home-auth-link">
                    <button class="btn btn-primary btn-big" id="home-auth-text">Role Based Login</button>
                </a>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>