<%- include('partials/header') %>

    <img class="backgroundImg" src="https://d4804za1f1gw.cloudfront.net/wp-content/uploads/sites/50/2018/11/hero.jpg"
        alt="img">

    <div class="welcomeDiv">
        <div class="welcomeMsg">
            Welcome to the Book Heaven
        </div>
        <div class="userType">
            Which type of user are you?
        </div>
    </div>

    <div class="selection">
        <div class="admin">
            <a href="./LogIn.html">
                <button>Admin Login</button>
            </a>
        </div>
        <!-- <div class="librarian">
    <a href="./LogIn.html">
      <button>Librarian</button>
    </a>
  </div> -->
        <div class="borrower">
            <a href="./borrower/UserLogIn.html">
                <button>User Login</button>
            </a>
        </div>
    </div>

    <%- include('partials/footer') %>